<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div th:replace="/layout :: header"></div>
<div class="container">
  <h2>Create</h2>
  <form action="/create" method="post" th:object="${student}">
    <table class="table">
      <tbody>
      <tr>
        <th>Name</th>
        <td><input type="text" th:field="*{name}">
          <span style="color: red" th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"></span>
        </td>

      </tr>
      <tr>
        <th>Date of Birth</th>
        <td><input type="date" th:field="*{DoB}">
          <span style="color: red" th:if="${#fields.hasErrors('DoB')}"
                th:errors="*{DoB}"></span></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><input type="text" th:field="*{phone}">
          <span style="color: red" th:if="${#fields.hasErrors('phone')}"
                th:errors="*{phone}"></span></td>
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td><input type="text" th:field="*{email}">
          <span style="color: red" th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"></span></td>
      </tr>
      <tr>
        <th>Classroom</th>
        <td><select th:field="*{classRoom}">
          <option th:each="cl:${classRoomList}" th:value="${cl.id}" th:text="${cl.name}"></option>
        </select></td>
      </tr>

      </tbody>
    </table>
    <button type="submit" class="btn btn-success">Create</button>
    <a href="/show" class="btn btn-primary">Cancel</a>
  </form>
</div>
<div th:replace="/layout :: footer"></div>
</body>
</html>